@charset "UTF-8";
/*
Page Root
|--- body
    |--- div#containerFluid
        |--- div#sidebar > styles.sidebar.scss
        |--- div#mainContainer.main-container.(m-main-collapsed/m-main-expanded)
*/
/* ************************************************** */
/* ************************************************** */
/* Bootstrap Sizes:
.col 		Extra Pequeño (Extra Small) - Smartphones Vertical		Menos de 544px
.col-sm 	Pequeño (Small) - Smartphones Vertical	 				Mas de 544px y Menos de 768px
.col-md 	Mediano (Medium) - Tablets 								Mas de 768px y Menos de 992px
.col-lg 	Largo (Large) - Computadoras							Mas de 992px y Menos de 1200px
.col-xl 	Extra Largo (Extra Large) - Computadoras				Mas de 1200px */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ************************************************** */
/* ************************************************** */
/* Transitions */
.tr-05 {
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  -ms-transition: all 0.05s;
  -o-transition: all 0.05s;
  transition: all 0.05s;
}

.tr-1 {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.tr-2 {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.tr-5 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.animated-fadeIn-5 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

/* ************************************************** */
/* ScrollBar */
*::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--primary-2);
}

*::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: var(--primary-2);
  outline: 1px solid rgba(112, 128, 144, 0.158);
}

/* ************************************************** */
/* ************************************************** */
/* Main */
* {
  margin: 0;
  padding: 0;
}

.roboto-font, body {
  font-family: "Roboto", sans-serif !important;
}

body {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  bottom: 0;
}

div#containerFluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* ************************************************** */
/* ************************************************** */
/* Default */
.size-100 {
  height: 100% !important;
  width: 100% !important;
}

.h-100-px {
  height: 100px !important;
  max-height: 100px !important;
}

.w-100-px {
  width: 100px !important;
  max-width: 100px !important;
}

.w-75-px {
  width: 75px !important;
  max-width: 75px !important;
}

.w-50-px {
  width: 50px !important;
  max-width: 50px !important;
}

.w-25-px {
  width: 25px !important;
  max-width: 25px !important;
}

.c-pointer {
  cursor: pointer !important;
}

.pm-0 {
  padding: 0 !important;
  margin: 0 !important;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}

a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

/* ************************************************** */
/* ************************************************** */
.page-error {
  background-color: var(--primary-1);
  color: var(--text-1);
}
.page-error .title-error {
  font-size: 5em;
}
.page-error .title-error:hover {
  animation: swing;
  animation-duration: 1s;
}
@media (min-width: 768px) {
  .page-error .title-error {
    font-size: 15em;
  }
}
@media (min-width: 600px) {
  .page-error .title-error {
    font-size: 10em;
  }
}

.body-error {
  color: rgba(var(--light-6-val), 0.6);
}
.body-error > h6:hover {
  color: rgba(var(--light-6-val), 1);
  animation: shakeX;
  animation-duration: 2s;
}

/* ************************************************** */
/* ************************************************** */
.bg-page, .bg-signup-page, .bg-login-page {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-login-page {
  background-image: url(../img/bg/gol-bg-login.png);
}

.bg-signup-page {
  background-image: url(../img/bg/gol-bg-sign_up.png);
}

/* ************************************************** */
/* ************************************************** */
.glitch-container {
  letter-spacing: 8px;
  margin: 0;
  line-height: 0;
}

.glitch-text:nth-child(1) {
  color: #d1d1d1;
  animation: glitch1 2.5s infinite;
}

.glitch-text:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.glitch-text:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

/* ************************************************** */
/* ************************************************** */
/* KeyFrames */
@keyframes animate-rotate {
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
  }
}
.animate-rotate {
  animation: animate-rotate 2s infinite linear;
}

.rotate-90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
}

.rotate-180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  transform: rotate(180deg);
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
/* ************************************************** */

/*# sourceMappingURL=styles.css.map */
