@charset "UTF-8";
/* ************************************************** */
/*
Sidebar Root
|-- body
    |-- nav#sidebar.(m-collapsed/m-expanded)
        |-- div#sidebarBg    // Backgound image for sidebar.
        |-- div#sidebarContainer    // Sidebar Container.
            |-- div#sidebarProfile
                |-- div
                |-- div.user-profile
                    |-- profile-menu-icon
                    |-- profile-menu-name
                |-- div.user-profile
                    |-- profile-menu-icon
                    |-- profile-social
            |--- div#sidebarOpc.m-opc.(m-opc-collapsed/m-opc-expanded)
                |-- div#profileItems
                    |-- ul
                        |-- li.active
                |-- div#sidebarAccordion
                    |-- div.accordion-item{1...n}
                        |-- div.accordion-header
                            |-- div-accordion-button.(collapsed/"")
                                |-- i.m-opc-icon
                        |-- div.flushCollapse_*{1...n }.accordion-collapse.(collapse/"")
            |-- div#sidebarFooter.sidebar-footer.text-footer
                |-- div
                    |-- div.copyright.pull-right
*/
/* ************************************************** */
/* Imports */
/*
Page Root
|--- body
    |--- div#containerFluid
        |--- div#sidebar > styles.sidebar.scss
        |--- div#mainContainer.main-container.(m-main-collapsed/m-main-expanded)
*/
/* ************************************************** */
/* ************************************************** */
/* Bootstrap Sizes:
.col 		Extra Pequeño (Extra Small) - Smartphones Vertical		Menos de 544px
.col-sm 	Pequeño (Small) - Smartphones Vertical	 				Mas de 544px y Menos de 768px
.col-md 	Mediano (Medium) - Tablets 								Mas de 768px y Menos de 992px
.col-lg 	Largo (Large) - Computadoras							Mas de 992px y Menos de 1200px
.col-xl 	Extra Largo (Extra Large) - Computadoras				Mas de 1200px */
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* ************************************************** */
/* ************************************************** */
/* Transitions */
.tr-1, nav#sidebar div#sidebarContainer div#sidebarOpc.m-opc-expanded div#sidebarAccordion .accordion-item div[id^=flushCollapse] {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.tr-2, .copyright {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.tr-5 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.animated-fadeIn-5 {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

/* ************************************************** */
/* ScrollBar */
*::-webkit-scrollbar, div::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--primary-4);
}

*::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
  background-color: var(--primary-4);
  outline: 1px solid rgba(112, 128, 144, 0.158);
}

/* ************************************************** */
/* ************************************************** */
/* Main */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif !important;
}

div#containerFluid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* ************************************************** */
/* ************************************************** */
/* Default */
.size-100 {
  height: 100%;
  width: 100%;
}

.c-pointer {
  cursor: pointer;
}

.pm-0, nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] ul {
  padding: 0;
  margin: 0;
}

a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
}

/* ************************************************** */
/* ************************************************** */
/* KeyFrames */
@keyframes animate-rotate {
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
  }
}
.animate-rotate {
  animation: rotate 2s infinite linear;
}

.rotate-90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
}

.rotate-180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  transform: rotate(180deg);
}

/* ************************************************** */
/* ************************************************** */
/* Sidebar */
nav#sidebar {
  height: 100%;
  position: fixed !important;
  margin: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  display: flex;
  color: whitesmoke;
  z-index: 2;
  width: 100%;
}
nav#sidebar.m-collapsed {
  top: 100%;
}
nav#sidebar.m-expanded {
  top: 0;
}
nav#sidebar div#sidebarBg {
  background: url("../img/sidebar-bg-1.jpg");
}
nav#sidebar div#sidebarContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(var(--background-s-val), 0.9);
}
nav#sidebar div#sidebarContainer div#sidebarProfile {
  padding-top: 10px;
}
nav#sidebar div#sidebarContainer div#sidebarProfile div img#imgProfile {
  width: 20%;
  border-radius: 50%;
  border: solid var(--light-1);
}
nav#sidebar div#sidebarContainer div#sidebarProfile div img#imgProfile:hover {
  animation: flip;
  animation-duration: 2s;
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile {
  display: flex;
  font-size: 2rem;
  width: 100%;
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-icon {
  width: 70px;
  text-align: center;
  padding-top: 5px;
  display: none;
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-name {
  display: flex;
  text-align: center;
  align-items: center;
  flex-grow: 2;
  justify-content: center;
  font-size: 1.1rem;
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-social {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
  align-items: center;
  padding: 10px 0px;
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-social i {
  color: var(--light-5);
}
nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-social i:hover {
  animation: heartBeat;
  animation-duration: 1s;
  color: var(--light-7);
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-icon {
    display: block;
  }
  nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-name {
    font-size: 0.8rem;
  }
}
@media (min-width: 600px) {
  nav#sidebar div#sidebarContainer div#sidebarProfile div img#imgProfile {
    width: 15%;
  }
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile {
    font-size: 1.5em;
    width: 250px;
  }
  nav#sidebar div#sidebarContainer div#sidebarProfile div img#imgProfile {
    width: 35%;
  }
}
nav#sidebar div#sidebarContainer div#sidebarOpc {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}
nav#sidebar div#sidebarContainer div#sidebarOpc.m-opc {
  width: 100%;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems {
  width: 100%;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul {
  padding: 0px;
  margin: 0px;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.3rem 1.25rem;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li.active {
  background-color: rgba(var(--light-1-val), 0.27);
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li i {
  width: 70px;
  text-align: center;
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li:hover {
    animation: shakeX;
    animation-duration: 2s;
    background-color: var(--primary-2);
  }
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems {
    width: 250px;
  }
  nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li {
    padding: 0.3rem 0rem;
  }
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed).active {
  background-color: rgba(var(--dark-1), 0.27);
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed) .accordion-button.collapsed {
  color: #ffffff;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed) .accordion-button:not(.collapsed) {
  color: var(--light-2);
  background-color: var(--primary-1);
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed) .accordion-button {
    padding: 1rem 0rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed):hover {
    background-color: var(--primary-2);
  }
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] {
  text-align: center;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] div.accordion-collapse {
  background-color: var(--primary-3);
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] {
    text-align: left;
  }
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] ul li {
  list-style: none;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0);
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] ul li:hover {
  animation: shakeX;
  animation-duration: 2s;
}
nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item div[id^=flushCollapse] ul li.active {
  background-color: rgb(var(--dark-1-val), 0.27);
}
@media (min-width: 768px) {
  nav#sidebar div#sidebarContainer div#sidebarOpc.m-opc {
    width: 250px;
  }
}
nav#sidebar div#sidebarContainer div#sidebarFooter {
  border-top: solid 1px rgba(255, 255, 255, 0.281);
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}
@media (min-width: 768px) {
  nav#sidebar {
    left: 0;
    border-right: solid 1px var(--light-4);
  }
  nav#sidebar.m-collapsed {
    width: 70px;
    top: 0;
  }
  nav#sidebar.m-collapsed:hover {
    width: 250px;
  }
  nav#sidebar.m-collapsed div#sidebarContainer div#sidebarProfile div img#imgProfile {
    min-width: 50px;
  }
  nav#sidebar.m-expanded {
    width: 250px;
  }
}

.m-opc-icon {
  text-align: center;
  width: 70px;
}

.m-icon, nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-icon i, nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li i, nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed) .accordion-button i {
  font-size: 1.5rem;
  color: var(--light-4);
}
@media (min-width: 768px) {
  .m-icon, nav#sidebar div#sidebarContainer div#sidebarProfile .user-profile .profile-menu-icon i, nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems ul li i, nav#sidebar div#sidebarContainer div#sidebarOpc div#sidebarAccordion .accordion-item .accordion-header:not(.collapsed) .accordion-button i {
    font-size: 1.2rem;
  }
}

.m-border-b, nav#sidebar div#sidebarContainer div#sidebarProfile, nav#sidebar div#sidebarContainer div#sidebarOpc div#profileItems {
  border-bottom: solid 1px rgba(255, 255, 255, 0.281);
}

.copyright {
  color: var(--light-1);
}
.copyright:hover {
  color: #9c9c9c;
  animation: rubberBand;
  animation-duration: 2s;
}

/* ************************************************** */

/*# sourceMappingURL=styles.sidebar.css.map */
