/* You can add global styles to this file, and also import other style files */


/* ************************************************** */
/* Root */
:root {
}
/* ************************************************** */

/* ************************************************** */
/* Transitions */
body {
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tr-5 {
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.tr-2 {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.tr-1 {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.animated-fadeIn-5 {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

/* ************************************************** */
/* ScrollBar */
body::-webkit-scrollbar, div::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: rgb(0, 87, 75);
    outline: 1px solid slategrey;
}
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* Bootstrap Sizes:
.col 		Extra Pequeño (Extra Small) - Smartphones Vertical		Menos de 544px
.col-sm 	Pequeño (Small) - Smartphones Vertical	 				Mas de 544px y Menos de 768px
.col-md 	Mediano (Medium) - Tablets 								Mas de 768px y Menos de 992px
.col-lg 	Largo (Large) - Computadoras							Mas de 992px y Menos de 1200px
.col-xl 	Extra Largo (Extra Large) - Computadoras				Mas de 1200px */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .test-media {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .test-media {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .test-media {background: rgba(226, 226, 226, 0.637);}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .test-media {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .test-media {background: pink;}
}
/* ************************************************** */
/* Main */
body {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;

    border: 1px solid rgb(70, 180, 88);
}

.size-100 {
    height: 100%;
    width: 100%;
}

.title-1 {
    font-size: 2em;
    display: inline;
}

.cursor {
    cursor: pointer;
}

/* ************************************************** */

/* ************************************************** */
/* Main */
.main-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(11, 90, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: flex-start;
    align-items: stretch;
    align-content: stretch; */
}

#btnMenuToggleMain {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #92072C;
    border-radius: 50%;
    margin: 0px;
}

#btnMenuToggleMain.btn-menu-main.btn-menu-expanded {
    right: -20%;
}

#btnMenuClose {
    position: fixed;
    bottom: 20px;
    right: -20%;
    z-index: 2;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #92072C;
    border-radius: 50%;
    margin: 0px;
}
#btnMenuClose.btn-menu-main-close.btn-menu-expanded {
    right: 20px;
}

main.main {
    height: auto;
    flex-grow: 1;
}
/* .m-sm-main-expanded {
    margin-right: 250px;
}
.m-sm-main-collapsed {
    margin-right: 0px;
}
.m-md-main-expanded {
    margin-left: 250px;
}
.m-md-main-collapsed {
    margin-left: 0px;
} */
/* ************************************************** */
.header {
    border: 1px solid rgb(180, 70, 70);
}

.main {
    border: 1px solid rgb(0, 71, 65);
}